.info-wrapper {
  text-align: center;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction:column;
  max-width: 320px;
}
#darkBtn{
  background-color: rgb(32, 32, 32);
  font-weight: 700;
  color: white;
  border: none;
  padding: 5px;border-radius: 3px;
  width: 90px;
}
#lightBtn{
  background-color:lightblue;
  font-weight: 700;
  color: white;
  border: none;
  padding: 5px;border-radius: 3px;
  width: 90px;
}
.button-container{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.ball-container{
  display: flex;
  justify-content: center;
  max-width: 320px;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
}